body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: linear-gradient(180deg, #E8F5CB 0%, #FFFFFF 96.87%);
  padding: 2rem;
}
header nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
header nav .linha {
  border-top: 1px solid black;
  width: 80%;
}
header nav ul {
  display: inline-flex;
  gap: 2rem;
}
header nav ul li {
  list-style-type: none;
}
header nav ul a {
  color: #0C0421;
  font-family: "Monstserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: ease-in-out 0.2s;
}
header nav ul a:hover {
  font-weight: 700;
}
header #home {
  margin: 0 auto;
  width: 80%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1040px;
}
header .textos-home {
  max-width: 464px;
}
header .textos-home h1 {
  color: #0C0421;
  font-family: "Krona One", sans-serif;
  font-size: 42px;
  margin-bottom: 2rem;
}
header .textos-home h1 span {
  color: #4E75FF;
}
header .textos-home .btn-main {
  background-color: #4E75FF;
  border: none;
  border-radius: 40px;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 1rem;
  width: 60%;
  transition: ease-in-out 0.2s;
}
header .textos-home .btn-main:hover {
  background-color: #85A0FF;
}
header .img-home {
  max-width: 474px;
}
header .img-home img {
  width: 100%;
}

#nosso-espaco {
  margin: 0 auto;
  width: 80%;
}
#nosso-espaco .detalhes {
  align-items: center;
  display: inline-flex;
  gap: 2rem;
  justify-content: space-around;
  padding: 2rem 0;
  width: 100%;
}
#nosso-espaco .detalhes .titulo {
  color: #4E75FF;
  font-family: "Krona One", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
}
#nosso-espaco .detalhes .infos {
  color: #0C0421;
  font-family: "Monstserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}
#nosso-espaco .detalhes .imgs-espaco, #nosso-espaco .detalhes .espaco-textos {
  max-width: 500px;
}
#nosso-espaco .detalhes .espaco-textos .separador {
  width: 100%;
}
#nosso-espaco .detalhes:nth-child(2) {
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

#servico {
  background: linear-gradient(180deg, #E8F5CB 0%, #FFFFFF 96.87%);
  padding: 5rem 0;
}
#servico .cards {
  margin: 0 auto;
  width: 80%;
  display: flex;
  gap: 1.5rem;
}
#servico .cards .card {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(202, 212, 250, 0.3) 100%);
  border: 1px solid white;
  border-radius: 32px;
  padding: 1rem 1.5rem;
  text-align: center;
}
#servico .cards .card-titulo {
  color: #0C0421;
  font-family: "Krona One", sans-serif;
  font-size: 1.4rem;
}
#servico .cards .card-texto {
  color: #0C0421;
  font-family: "Monstserrat", sans-serif;
  font-size: 1.3rem;
}

#desconto {
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
#desconto h4 {
  color: #0C0421;
  font-family: "Krona One", sans-serif;
  font-size: 1.6rem;
}
#desconto p {
  color: #0C0421;
  font-family: "Monstserrat", sans-serif;
  font-size: 1.2rem;
}
#desconto .input-btn {
  border: 1px solid #4E75FF;
  border-radius: 65px;
  display: inline-flex;
  height: 65px;
  margin: 0 auto;
  width: 790px;
}
#desconto .input-btn input {
  color: #0C0421;
  font-family: "Monstserrat", sans-serif;
  font-size: 1.2rem;
  border: none;
  border-radius: 65px 0 0 65px;
  margin-left: 2rem;
  outline: none;
  width: 513.5px;
}
#desconto .input-btn button {
  color: white;
  font-family: "Monstserrat", sans-serif;
  font-size: 1.2rem;
  background: #4E75FF;
  cursor: pointer;
  border: none;
  border-radius: 0 65px 65px 0;
  width: 276.5px;
}

#contatos {
  margin: 0 auto;
  width: 80%;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  margin-top: 5rem;
}
#contatos .contatos-imgs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-around;
  max-width: 50%;
}
#contatos .contatos-form {
  background: linear-gradient(180deg, #E8F5CB 0%, #FFFFFF 96.87%);
  border-radius: 3rem;
  max-width: 50%;
  padding: 2rem 3rem;
}
#contatos .contatos-form .titulo {
  color: #4E75FF;
  font-family: "Krona One", sans-serif;
  font-size: 1.9rem;
}
#contatos .contatos-form .infos, #contatos .contatos-form .inputs .form-group label {
  color: #0C0421;
  font-family: "Monstserrat", sans-serif;
  font-size: 1.2rem;
}
#contatos .contatos-form .inputs {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#contatos .contatos-form .inputs input, #contatos .contatos-form .inputs .btn, #contatos .contatos-form .inputs .form-group textarea {
  border: none;
  border-radius: 25px;
  padding: 1rem;
}
#contatos .contatos-form .inputs .form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
#contatos .contatos-form .inputs .form-group label {
  font-weight: bold;
}
#contatos .contatos-form .inputs .btn {
  background: #4E75FF;
  color: white;
  font-size: 1rem;
  margin-top: 2rem;
  width: 100%;
  transition: ease-in-out 0.2s;
}
#contatos .contatos-form .inputs .btn:hover {
  background-color: #CAD4FA;
}

footer {
  color: #0C0421;
  font-family: "Monstserrat", sans-serif;
  font-size: 1rem;
  background: #E8F5C8;
  margin-top: 7rem;
  padding: 2rem;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */